/* Урок Димыча (даже не знаю Как его назвать) 5а (что ли)
Про П.-е, визуализацию Д.-х и Практику 
Он появился на канале не с того ни с сего

11/02/24 */

.link-one {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: crimson;
  /* background-color: yellowgreen; */
}

p {
  font-size: 17px;
  color: rgb(51, 204, 51);
}
